/* -- modify native ion-button --

.button-default::part(native) {
  background: var(--ion-color-danger);
  --ripple-color: var(--ion-color-danger);
  --background-activated: var(--ion-color-danger);
}
*/
